{% extends 'base.html' %}
{% load static %}
{% block title %} {{ post.title }} - My Blog
{% endblock %} {% block body %}
<br>
<h3>{{ post.title }}</h3>
<small>{{ post.author.first_name }} {{ post.author.last_name }}</small>
<br />
<small>{{ post.post_time }}</small>
<br />
<small>category: <a href="{% url 'category_posts' post.category %}">{{ post.category }}</a></small>
<br />
<small>tags: {{ post.tag }}</small>
<br>
<br>
<a href="{% url 'home' %}" class="btn btn-secondary btn-sm">Back to list</a>
<hr>
{% if post.image %}
<img src="{{ post.image.url }}" alt="Post's image">
{% endif %}
<p>{{ post.body|safe }}</p>
<hr>
<p>
	{% if user.id == post.author.id %}
	<a href="{% url 'update_post' post.pk %}" class="btn btn-secondary btn-sm">Edit post</a>
	<a href="{% url 'remove_post' post.pk %}" class="btn btn-secondary btn-sm">Delete post</a>
	{% endif %}
</p>
<form action="{% url 'like' post.pk %}" method="POST">
	{% csrf_token %}
	<button class="{% if liked %} btn btn-danger btn-sm {% endif %} btn btn-primary btn-sm">Like:
		{{ post.total_likes }}</button>
	{% if messages %}
	{% for message in messages %}
	<p><strong>{{ message }}</strong></p>
	{% endfor %}
	{% endif %}
</form>
<br>

<div class="card mb-3" style="max-width: 540px;">
	<div class="row g-0">
		<div class="col-md-4">
			<img src="{% if post.author.profile.profile_pic %}
			{{ post.author.profile.profile_pic.url }}
			{% else %}
			{% static 'myBlog/images/default_profile_pic.png' %}
			{% endif %}
			" class="img-fluid rounded-start" alt="Author's profile picture">
			{% comment %} {% if post.author.profile.profile_pic %}
			<img src="{{ post.author.profile.profile_pic.url }}" alt="Author's profile picture">
			{% else %}
			<img src="{% static 'myBlog/images/default_profile_pic.png' %}" alt="Author's profile picture">
			{% endif %} {% endcomment %}
		</div>
		<div class="col-md-8">
			<div class="card-body">
				<h5 class="card-title">{{ post.author.first_name }} {{ post.author.last_name }}</h5>
				<p class="card-text">
					<small class="text-muted">
						{% if post.author.profile.website_url %}
						<a href="{{ post.author.profile.website_url }}">website</a>
						{% endif %}
						{% if post.author.profile.facebook_url %}
						| <a href="{{ post.author.profile.facebook_url }}">facebook</a>
						{% endif %}
						{% if post.author.profile.twitter_url %}
						| <a href="{{ post.author.profile.twitter_url }}">twitter</a>
						{% endif %}
						{% if post.author.profile.instagram_url %}
						| <a href="{{ post.author.profile.instagram_url }}">instagram</a>
						{% endif %}
					</small>
				</p>
				<p class="card-text">{{ post.author.profile.bio }}</p>

			</div>
		</div>
	</div>
</div>
{% endblock %}