{% extends 'base.html' %} {% block title %} My Blog {% endblock %}
{% block body %}
<br />
<h3>For free.</h3>
<br>
{% for post in object_list %}
<div class="list-group">
	<a href="{% url 'article_detail' post.pk %}" class="list-group-item list-group-item-action">
		<div class="d-flex w-100 justify-content-between">
			<h5 class="mb-1">{{ post.title }}</h5>
			<small class="text-muted">{{ post.post_time|timesince }} ago</small>
		</div>
		<p class="mb-1">
			{% if post.body|length > 120 %}
			{{ post.body|slice:":120" }} ...
			{% else %}
			{{ post.body }}
			{% endif %}
		</p>
		<small class="text-muted">{{ post.category }}</small>
	</a>
</div>
<br />
{% endfor %} {% endblock %}